/* Class Selectors */

.App {
  text-align: center;
  background-color: tan;
}

.profile {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.section {
  padding: 1.5rem;
}

.SDSUImage {
  opacity: 30%;
}
